html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

header {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: .8rem;
  color: #3f1622;
  text-decoration: none;
}

a {
  color: #8f2440;
  font-size: 1.25rem;
  line-height: normal;
  font-weight: bold;
  text-decoration: none;
}

nav ol {
  list-style: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
  list-style: none;
}

.beets {
  list-style-type: none;
}

img {
  width: 100%;
}

figcaption p {
  font-style: italic;
}

.p1 {
  font-weight: bold;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote > cite {
  font-size: .8rem;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

aside ul {
  font-size: .8rem;
  list-style-type: circle;
}

p > strong {
  font-style: normal;
}

dl > dt {
  font-weight: bold;
}

h2 > ol + li {
  font-weight: bold;
  list-style-type: lower-greek;
}
